body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  font-size: 2em;
  padding: 10px;
  background: #333;
  color: #fff;
}

@supports (display: grid){
  @media screen and (min-width: 20rem) {
    #app {
      height: 100%;
      display: grid;
      grid-template:
        "head head" max-content
        "swatch main" 15rem
        "sidebar main" auto / 15rem auto;
    }

    .header {
      grid-area: head;
    }
  }
}