extends /layout.pug

block title
  - var title = "Trivia questions"

block head
  +push_stylesheet("/css/trivia.css")
  +push_script("/js/rejsx.js")

mixin qa(q, a)
  dt= q
  dd= a

mixin s_l(name)
  li
    a(href="#"+name)= name

mixin s_h(name)
  h2(id=name)= name

block content
  p Here are some of my favorite trivia questions
  div#output
  +push_script("/js/trivia.jsx")



