html
  head
    title Printer Test Page
    style.
      @page { margin: 1in; }
      #text-test {
        font-family: 'Times New Roman', Times, serif;
        font-size: 12pt;
      }

      #gradient-test {
        box-sizing: border-box;
      }
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    | Paragraph:
    p#text-test.test-item.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
      molestie gravida lorem at eleifend. Suspendisse condimentum fermentum
      sapien, quis ornare lacus fringilla sit amet. Donec nunc ligula, porta id
      pharetra nec, tristique nec felis. Donec at mollis dolor, vel sollicitudin
      mauris. Etiam porttitor, turpis eu imperdiet pellentesque, velit turpis
      congue nibh, a maximus leo risus eu quam. Nulla venenatis volutpat
      tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      In tristique varius lacinia. Proin ullamcorper lectus ac convallis
      gravida. Duis tempus dapibus diam, in tempor leo pharetra sed. Phasellus
      non sapien arcu.
    br

    | Gradient:
    p
      svg(xmlns="http://www.w3.org/2000/svg" height="1in" width="100%" class="test-item" id="gradient-test")
        defs
          linearGradient(id="test-gradient" class="test-item")
            stop(offset="0%" stop-color="black")
            stop(offset="100%" stop-color="white")
        rect(fill="url(#test-gradient)" x="0" y="0" width="100%" height="100%")
    br

    | Resolution test:
    p
      svg(xmlns="ttp://www.w3.org/2000/svg" width="100%" height="1in")
        style text { text-anchor: middle; }
        text(x="0.5in" y="0.25in") 1mm
        circle(cy="0.5in" cx="0.5in" r="0.5mm")
        text(x="1.5in" y="0.25in") 1/2mm
        circle(cy="0.5in" cx="1.5in" r="0.25mm")
        text(x="2.5in" y="0.25in") 1/4mm
        circle(cy="0.5in" cx="2.5in" r="0.125mm")
        text(x="3.5in" y="0.25in") 1/8mm
        circle(cy="0.5in" cx="3.5in" r="0.0625mm")
        text(x="4.5in" y="0.25in") 1/16mm
        circle(cy="0.5in" cx="4.5in" r="0.03125mm")
        text(x="5.5in" y="0.25in") 1/32mm
        circle(cy="0.5in" cx="5.5in" r="0.015625mm")
