html
  head
    include /analytics.pug
    title Torque-speed calculations with Vex 393 motors
    include /math.pug
    include /head.pug
    style.
      body {
        font-family: Times, serif;
        width: 900px;
        margin: auto;
      }

      h2 {
        text-align: center;
      }

      .line {
        fill: none;
        stroke-width: 3;
      }

      svg {
        font-family: sans-serif;
      }
  body
    :markdown-it(linkify html)
      ## Torque-speed calculations with Vex 393 motors

      Motor torque is measured in in-lbs or inch-pounds-force in the imperial
      system and $$ N*m $$ or Newton meters in Metric. Torque represents the
      rotational force applied to an object at a certain distance. Vex 393
      Motors are stated to have a stall torque (or maximum load) of 14.76 in-lbs
      on Vex's website. Community measurements have put this closer to 13.5
      in-lbs. This means that the motor will stall at 13.5 pounds of force at 1
      inch away from the axis or 1 pound of force at 13.5 inches from the axis.
      Rotational speed is the angle moved over a period of time. Normally, it's
      measured as rotations per minute (rpm) and in SI units it's
      measured as radians per second (rad/s). As the load's required torque goes
      up the speed of the motor goes down. A free spinning motor has a
      rotational speed of 100 rpm or 10.47 rad/s while a stalled, or completely
      loaded motor has a speed of 0. The required torque ($$tau$$) of a system can be
      calculated by multiplying the radius ($$r$$) by the force ($$F$$), in our case
      weight.

      <p><center><img src="/images/vex-motors-chart.svg"/></center></p>
      In the above graph, pink is speed, blue is current, brown is efficency,
      and dotted orange is power. The speed of a motor (pink) using $$tau$$
      torque can can be calculated by using the following equation:

      <center>$$ Omega_("loaded")(tau) = -(Omega_("free"))/(tau_("stall"))tau +
      Omega_("free") $$</center>

      When using 393 motors $$ Omega_("free") = 100"rpm" $$ and $$ tau_("stall")
      = 13.5 "in"*"lbs" $$. The equation becomes:

      <center>$$ Omega_("loaded")(tau) = -(100"rpm")/(13.5"in"*"lbs")tau +
      100"rpm" $$</center>

      Another thing to take into consideration when calculating speed is that
      often times motors are working in tandem, like in wheels or in dual lift
      systems. This doubles the overall torque of the system.
      
      Also to be considered are gearings, a 2:1 speed gear ratio doubles the
      speed ($$Omega_("free")$$) but halves the torque ($$tau_("stall")$$). A
      2:1 torque gear ratio does the opposite, it doubles the torque but halves
      the speed. The ratio is referring to the number of teeth on the gears in
      the system. A 12-tooth gear as input with a 36-tooth gear as output
      produces a 3:1 torque ratio. Combining multiple gear systems multiplies
      the ratios.

      Motors also draw power when running, this can be calculated as well. Vex
      393 motors operate at approximately 7.2 volts. The amount of electrical
      current a motor is drawing is inversely proportional to the speed the
      motor is running at and directly proportional to the torque the motor is
      bearing. The motor uses approximately 0.2 amps when no load is applied and
      3.6A when under full load.

      The concern with power draw in motors is that the vex cortex has a breaker
      on the motor ports that trips when a zone (ports 1 through 5 or 6 through
      10) reaches it's critical 4.0A rating. This causes problems because a
      stalling 393 motor draws 3.6A, almost all of that 4.0A allowance. almost
      any other load could trip the breaker.

      This breaker is an issue with most robots because the wheels are
      eventually overloaded, often in competition, either by weight, or by an
      obstacle blocking the robot's path. this can be partially mitigated by
      balancing motors between the two breaker zones such that there is not too
      much current draw at once. Often times this includes assigning each half
      of the robot te one breaker zone as most parts of the robot are working in
      unison on both sides.

      Another issue with motors and the cortex circuit breaker is that causing
      an immediate jump in power causes a large spike in current according to
      Glenn of Brandywine Robotics. Two solutions are ramping motors up and down
      instead of doing immediate power jumps or using Smart Motor Library
      (https://github.com/jpearman/smartMotorLib) by James Pearman. Pearman's
      Smart Motor Library regulates motors by estimating their risk of over
      drawing and then overheating and damaging equipment.

      Sources:
      - https://www.vexforum.com/index.php/7868-motor-torque-speed-curves/0
      - http://pages.mtu.edu/~wjendres/ProductRealization1Course/DC_Motor_Calculations.pdf
      - https://www.vexrobotics.com/motors.html
      - http://www.vexmen.com/2014/02/troubles-tripping-circuit-breakers-with-10-big-393-motors/

    center
      a(href="/") Home

    - push("/images/vex-motors-chart.svg", "image")
