extends /layout.pug

block title
  - var title = "Flexbox test"

block head
  +push_stylesheet("/css/flex.css")

block content
  .test1
    .item1 Item 1
    .item2 Item 2
    .item3 Item 3
    .item4 Item 4
