* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: sans-serif;
  font-size: 16px;
}

#app {
  height: 100%;
  width: 100%;
}

.statement-string {
  white-space: pre-wrap;
  font-family: monospace;
  border: 1px solid #888;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

.tab-bar {
  background: #eee;
}

.tab {
  padding: 10px;
  display: inline-block;
}

.tab-active {
  background: #fff;
  color: #000;
}

.tab-inactive {
  background: #eee;
  color: #444;
}

.content {
  padding: 10px;
}