<script src="/js/modGlslCanvas.min.js"></script>
<style>
body{margin:0;background:black;overflow:hidden}
canvas{height:100%;width:100%}
</style>
<canvas id="main"></canvas>
<script>
let c=document.getElementById("main")
let scale_factor = 1
c.height=window.innerHeight/scale_factor;c.width=window.innerWidth/scale_factor;

(new GlslCanvas(c)).load(`

precision mediump float;
uniform float u_time;
uniform vec2 u_resolution;

void main()
{
	float time = u_time * 1.0;

vec2 o = gl_FragCoord.xy-u_resolution/2.;
	
	// Polar coord in form of (distance, angle)
	o = vec2( length(o)/min(u_resolution.y,u_resolution.x) - .4, atan(o.y,o.x) );
			
	vec4 s = 0.07*cos( 1.5*vec4(0,1,2,3) + time + o.y + sin(o.y) * cos(time) );
				
	vec4 e = s.yzwx;
					
	vec4 f = max(o.x-s,e-o.x);
											
	gl_FragColor = dot( clamp(f*u_resolution.y, 0.0, 1.0), 100.0*(s-e) ) * (s - 0.1) + f;
							
	// dot( clamp(f*u_resolution.y, 0.0, 1.0), 100.0*(s-e) ) * (s - 0.1);
									
									
	// Adding f makes the background
		
	// Original was: dot( clamp(f*u_resolution.y, 0.0, 1.0), 100.0*(s-e) ) * (s - 0.1) + f											
}

`)
</script>
