link(rel="alternate", href="gisch.tk", hreflang="en")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", type="text/css", href="/css/home.css")
- push("/css/home.css", "style")
link(rel="icon", type="image/png", href="/images/icons/small/folder.png")
- push("/images/icons/small/folder.png", "image")
