script(async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=AM_CHTML")
script(type="text/x-mathjax-config") MathJax.Hub.Config({asciimath2jax:{delimiters:[["$$","$$"]]}});
